@tailwind base;
@tailwind components;
@tailwind utilities;

body.modal-show {
  overflow: hidden;
}

@layer base {
  :root {
    --padding-screen: max(50px, calc((100vw - 1440px + 50px) / 2));
  }

  html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    flex: 1 0 0;
  }

  @media screen(md) {
    html {
      font-size: 15px;
    }
  }

  @media screen(sm) {
    :root {
      --padding-screen: 20px;
    }
  }

  @media screen (xs) {
    html {
      font-size: 14px;
    }
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}
}

@layer components {
  .leaderboard-container {
    @apply relative max-h-none py-0 mt-2 mb-8 w-full h-full;
  }
  /* .leaderboard {
    @apply relative max-h-none py-0 mt-2 mb-8 w-full max-w-[1000px] h-full
  } */
  .leaderboard-container::-webkit-scrollbar {
    @apply w-[8px] h-[8px]
  }
  .leaderboard-container::-webkit-scrollbar-track {
    @apply rounded-lg bg-gray-400
  }
  .leaderboard-container::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-white
  }
  .leaderboard::-webkit-scrollbar {
    @apply w-[8px] h-[8px]
  }
  .leaderboard::-webkit-scrollbar-track {
    @apply rounded-lg bg-gray-400
  }
  .leaderboard::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-white
  }

  @media screen(md) {
    .leaderboard-container {
      @apply overflow-x-scroll
    }
    .leaderboard-container > div {
      @apply min-w-[700px]
    }
    .leaderboard-container > div.sticky {
      padding-right: 8px;
    }
    .leaderboard {
      @apply overflow-y-scroll max-h-[88vh]
    }
  }
}

@layer components {
  .leaderboard-element {
    @apply flex flex-row list-none m-0 p-2
  }
  .leaderboard-element li:nth-child(1) {
    width: 30%;
    min-width: 30%;
  }
  .leaderboard-element li:nth-child(2) {
    width: 10%;
    min-width: 10%;
  }
  .leaderboard-element li:nth-child(3) {
    width: 10%;
    min-width: 10%;
  }
  .leaderboard-element li:nth-child(4) {
    width: 15%;
    min-width: 15%;
  }
  .leaderboard-element li:nth-child(5) {
    width: 15%;
    min-width: 15%;
  }
  .leaderboard-element li:nth-child(6) {
    width: 20%;
    min-width: 20%;
  }
}

@layer components {
  .grid-child:nth-child(1) {
    grid-column: 1 / 5;
  }
  .grid-child:nth-child(2) {
    grid-column: 5 / 8;
  }
  .grid-child:nth-child(3) {
    grid-column: 8 / 10;
  }
  .grid-child:nth-child(4) {
    grid-column: 10 / 12;
  }
  .grid-child:nth-child(5) {
    grid-column: 12 / 14;
  }
  .grid-child:nth-child(6) {
    grid-column: 14 / 16;
  }
}
